body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #000000, #4B0082, #800080 );
}

.botão {
    padding: 10px 20px; /* Ajustei o padding para algo mais razoável */
    cursor: pointer;
    background: linear-gradient(to right, #4e2668, #4e3660, #6b356b );
    color: #0a0d0f;
    margin: 10px; 
    border-radius: 20px;
    box-shadow: 2px 4px 6px #000000;
}

.conteiner {
    text-align: center;
   
    
}

.pedido {
    text-align: center;
    color: #5b76a8;
    font-family: 'Great Vibes', cursive;
    font-size: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; 
    transition: all 0.5s;
    color: #5b76a8;
}